@import '../../node_modules/bulma/bulma';
// @import '../../node_modules/bulma-extensions/extensions';

.calculator {
    margin-top: 200px;
}

.app {
    .card {
        display: block;
        margin: 0 auto;
        width: 600px; 
    }

    .card-content {
        padding: 0.5rem;
    }
}