// columns
.columns {
    background: #000;
    margin: 0 !important;
    margin-top: 0;
    padding: 5px 10px;
}

// column
.column {
    border-right: 5px solid #000;
    // margin-right: 10px;
    font-weight: bold;
}